.idea/
backup
venv
utils/.env
Andrej Karpathy Tesla AI Self-Driving Optimus Aliens and AGI  Lex Fridman Podcast 333 - Transcription.txt
Andrej Karpathy Tesla AI Self-Driving Optimus Aliens and AGI  Lex Fridman Podcast 333 - Transcription - Backup.txt
main.iml
.DS_Store